<h2>Discover a New Musical Artist</h2>

<div class="container artist">
  <h3>{{artist.[0].name}}</h3>
  <p><img src="{{artist.[0].imgur_url}}" alt="Image for {{artist.[0].name}}" class="image" /></p>
  {{#if artist.[1]}}
  <ul id="artist-songs-{{artist.[0].id}}">
    {{#each artist as |song|}}
    <li id="artist-{{artist.[0].id}}-song-{{song.[songs.id]}}"><a href="/songs/{{song.[songs.id]}}">{{song.[songs.name]}}</a></li>
    {{/each}}
  </ul>
  {{/if}}
</div>