<h2>Playlists</h2>

<div class="container">
    {{#each playlists as |playlist|}}
    
    <div id="playlist-{{playlist.name}}" class="playlists index">
        <a href="/api/playlists/{{playlist.id}}"><h3>{{playlist.name}}</h3></a>
        <p>{{playlist.description}}</p>
        {{#each playlist.songs as |song| }}
           <p><a href="/songs/{{song.id}} ">Song Title: {{song.name}}</a><br>
           {{#each song.artists as |artist|}} 
            <a href="/artists/{{artist.id}}">Artist: {{artist.name}}, </a>
           {{/each}}</p>
        {{/each}}
    </div>

    {{/each}}
</div>
