<h2>{{playlist.name}}</h2>

<p>{{playlist.description}}</p>

<ul id="playlist-songs-{{playlist.name}}">
    {{#each playlist.songs as |song|}}
        <li>
            {{#if ../logged_in}}
                <a class="btn btn-sm btn-info addToPlaylist" href="/playlists/addSong/{{song.id}}"><span class="material-icons-outlined">playlist_add</span></button>
            {{/if}}
            <a href="/songs/{{song.id}}">{{song.name}}</a> by <a href="/artists/{{song.artists.[0].id}}">{{song.artists.[0].name}}</a>
        </li>
         
        {{!-- {{#each song.artists as |artist|}}
            <li><a href="/artists/{{artist.id}}">Artist: {{artist.name}}</a></li>
            <br>
        {{/each}} --}}
    {{/each}}
</ul>
