<h2>Artists</h2>

<div class="container">
    {{#each artists as |artist|}}
    <a href="/artists/{{artist.id}}">
        <div id="artist-{{artist.id}}" class="artists index">
            <h3>{{artist.name}}</h3>
            <p><img id="artist-image-{{artist.id}}" class="image" src="{{artist.imgur_url}}" alt="{{artist.name}} Image" /></p>
        </div>
    </a>
    {{/each}}
</div>